
body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #5b3b8c;
}

input {
    width: 70px;
    padding: 6px;
}

#nome {
    width: 200px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #5b3b8c;
    color: white;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #5b3b8c;
    color: white;
    border: none;
    cursor: pointer;
}