
body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    color: #5b3b8c;
}

input, select {
    padding: 8px;
    margin: 5px;
}

#nome {
    width: 200px;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #5b3b8c;
    color: white;
}

button {
    margin: 8px 4px;
    padding: 10px 15px;
    background-color: #5b3b8c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #402767;
}